In [1]:
import pandas as pd
import requests
import os
from datetime import datetime

In [2]:
api_key = ''
cities = ['Portland', 'Kansas City', 'Philadelphia', 'Pittsburgh', 'Charlotte', 'Jacksonville', 'Detroit', 'Atlanta', 'Indianapolis', 'Nashville', 'Chicago', 'Saint Louis', 'Minneapolis', 'Houston', 'Dallas', 'San Antonio', 'Denver', 'Albuquerque', 'Phoenix', 'Las Vegas', 'San Diego', 'Los Angeles', 'Seattle', 'Boston', 'San Francisco', 'Miami', 'New York']

city_data = []

for city in cities:
    url = f'https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}'
    response = requests.get(url)
    
    if response.status_code == 200:
        data = response.json()

        city_weather_data = {
            'datetime': pd.to_datetime('now'),
            'city': city,
            'humidity': data['main']['humidity'],
            'pressure': data['main']['pressure'],
            'temperature': data['main']['temp'],
            'weather_description': data['weather'][0]['description'],
            'wind_speed': data['wind']['speed'],
            'wind_direction': data['wind']['deg'],
            'latitude': data['coord']['lat'],
            'longitude': data['coord']['lon']
        }
        city_data.append(city_weather_data)
        print(f"Weather data for {city} collected.")
    else:
        print(f"Failed to fetch weather data for {city}. Status code: {response.status_code}")

df = pd.DataFrame(city_data)
df.head()

Weather data for Portland collected.
Weather data for Kansas City collected.
Weather data for Philadelphia collected.
Weather data for Pittsburgh collected.
Weather data for Charlotte collected.
Weather data for Jacksonville collected.
Weather data for Detroit collected.
Weather data for Atlanta collected.
Weather data for Indianapolis collected.
Weather data for Nashville collected.
Weather data for Chicago collected.
Weather data for Saint Louis collected.
Weather data for Minneapolis collected.
Weather data for Houston collected.
Weather data for Dallas collected.
Weather data for San Antonio collected.
Weather data for Denver collected.
Weather data for Albuquerque collected.
Weather data for Phoenix collected.
Weather data for Las Vegas collected.
Weather data for San Diego collected.
Weather data for Los Angeles collected.
Weather data for Seattle collected.
Weather data for Boston collected.
Weather data for San Francisco collected.
Weather data for Miami collected.
Weather data for New York collected.

,datetime,city,humidity,pressure,temperature,weather_description,wind_speed,wind_direction,latitude,longitude
0,2024-02-06 19:52:16.775140,Portland,90,1007,280.85,broken clouds,2.57,110,45.5234,-122.6762
1,2024-02-06 19:52:17.065449,Kansas City,53,1018,282.56,clear sky,1.54,0,39.0997,-94.5786
2,2024-02-06 19:52:17.537044,Philadelphia,69,1024,272.71,clear sky,2.06,100,39.9523,-75.1638
3,2024-02-06 19:52:17.956045,Pittsburgh,63,1024,272.47,clear sky,1.35,57,40.4406,-79.9959
4,2024-02-06 19:52:18.341985,Charlotte,54,1020,278.34,clear sky,1.34,1,35.2271,-80.8431

In [3]:
df.dtypes

datetime               datetime64[ns]
city                           object
humidity                        int64
pressure                        int64
temperature                   float64
weather_description            object
wind_speed                    float64
wind_direction                  int64
latitude                      float64
longitude                     float64
dtype: object

In [4]:
df['datetime'] = df['datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')
df.head()

,datetime,city,humidity,pressure,temperature,weather_description,wind_speed,wind_direction,latitude,longitude
0,2024-02-06 19:52:16,Portland,90,1007,280.85,broken clouds,2.57,110,45.5234,-122.6762
1,2024-02-06 19:52:17,Kansas City,53,1018,282.56,clear sky,1.54,0,39.0997,-94.5786
2,2024-02-06 19:52:17,Philadelphia,69,1024,272.71,clear sky,2.06,100,39.9523,-75.1638
3,2024-02-06 19:52:17,Pittsburgh,63,1024,272.47,clear sky,1.35,57,40.4406,-79.9959
4,2024-02-06 19:52:18,Charlotte,54,1020,278.34,clear sky,1.34,1,35.2271,-80.8431

In [5]:
df['temperature'] = ((df['temperature'] - 273.15) * 9/5) + 32

df.head()

,datetime,city,humidity,pressure,temperature,weather_description,wind_speed,wind_direction,latitude,longitude
0,2024-02-06 19:52:16,Portland,90,1007,45.860,broken clouds,2.57,110,45.5234,-122.6762
1,2024-02-06 19:52:17,Kansas City,53,1018,48.938,clear sky,1.54,0,39.0997,-94.5786
2,2024-02-06 19:52:17,Philadelphia,69,1024,31.208,clear sky,2.06,100,39.9523,-75.1638
3,2024-02-06 19:52:17,Pittsburgh,63,1024,30.776,clear sky,1.35,57,40.4406,-79.9959
4,2024-02-06 19:52:18,Charlotte,54,1020,41.342,clear sky,1.34,1,35.2271,-80.8431

In [7]:
df.to_csv('weatherapidata.csv',index=False)